#navbar {
  background-color: #2E4052;
}

#logo {
  display: flex;
  width: 200px;
}

#botoes {
  display: flex;
  position: sticky;
  left: 90%;
}

#botao_nav {
  background-color: #072b47;
  color: white;
  margin: 2%;
}
.navbar_search{
  margin-left: 60%;

}
#navbar_search_input{
  height: 32px;
  border-radius: 6px;
  margin-right: 6px;
}
#navbar_search_button{
  border-radius: 6px;
  border: none;
  height: 34px;
}