#navbar {
  background-color: #2E4052;
}

#logo {
  display: flex;
  width: 200px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#botoes {
  display: flex;
  position: sticky;
  left: 90%;
}

#botao_nav {
  background-color: #2E4052;
  color: white;
  margin: 2%;
  text-transform: uppercase;
  border: 1px solid #2BAE5E;
}

#botao_nav:hover {
  background-color: #2BAE5E;
}

#settings_svg{
  height: 34px;
}


#botao_cfg {
  background-color: #072b47;
  color: white;
}

.navbar_search{
  display: flex;
  margin-left: 60%;
}

#navbar_search_input{
  height: 32px;
  border: none;
  border-radius: 6px;
  margin-right: 6px;
}
#navbar_search_button{
  border-radius: 6px;

  border: none;
  height: 34px;
}
.foto{
  display:flex;
  width: 30px;
}