.inicio_page {
  width: 100%;
  height: 100%;
  display: flex;
}

.side1 {
  display: flex;
  flex-direction: column;
  width: 100%;

}

#renova_logo_about {
  width: 600px;
  align-self: center;
  margin-top: 10%;
}

#texto {
  margin-top: 5%;
  margin-left: 14%;
  font-size: 28px;
  width: 60%;
  color: rgb(39, 39, 39);
}

#button_list {
  display: flex;
  align-self: center;
  justify-content: space-between;
  width: 80%;
  margin-top: 10%;
}


#inscrever_btn {
  height: 78px;
  border-radius: 48px;
  font-size: 20px;
  font-weight: 700;
  width: 105%;
  color: white;
  background-color: #2e4052;
}

#home_btn {
  height: 78px;
  border-radius: 48px;
  font-size: 20px;
  font-weight: 700;
  background-color: #2BAE5E;
  color: white;
  width: 43%;
}

.side2 {
  display: flex;
  flex-direction: column;
  width: 100%;

}


#login_btn {
  position: absolute;
  right: 0;
  margin: 4%;
  background-color: #2BAE5E;
  width: 12%;
  font-size: 32px;
  color: white;
  height: 50px;

}

#pessoa_svg {
  width: 600px;
  margin-top: 10%;
  margin-left: 5%;
  margin-bottom: 20%;
}

.formSide {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#formCad {
  border: #2BAE5E 3px solid;
  background: rgb(43,174,94);
background: linear-gradient(36deg, rgba(43,174,94,0.5) 11%, rgba(133,218,86,0.5) 100%);
  background-color: #2e40521b;
  align-self: center; 
  border-radius: 28px;
  margin-bottom: 10%;
  margin-top: 5%;
  padding: 3%;
  width: 50%;
}

.MuiTextField-root {
  background-color: #fff;
  border-radius: 10px;
}