html body {
  background: linear-gradient(107.56deg, #FFFFFF 36.46%, #ABABAB 100%);
}
#produto_card{
  display: flex;
  flex-direction: column;
  outline: 1px solid rgb(136, 136, 136);
  background: #2E4052;
  color: white;
  border: 0.5px solid #000000;
  border-radius: 10px;
  min-height: 370px;
}
.produto_img{
  border-radius: 6px;
}
#produto_card #produto_button_comprar{
  background-color: #2BAE5E;
  color: white;
  font-weight: 600;
}
#produto_card_preco{
  font-weight: 800;
  font-size: 32px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #85DA56;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.bold {
  font-weight: bold !important;
}