.imagem2 {
    background-image: url(https://i.imgur.com/ViNS0YV.png);
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.textos2{
    font-weight: bold !important;
}

.btnCancelar{
    background: rgb(122,29,0);
}
#cad_btn_cadastrar{
    background: rgb(43,174,94);
}
#cad_btn_cadastrar:hover{
    background-color: #85da56
}