    /*h3{
        color: #2BAE5E;
    }*/
.MuiTextField-root{
    border: 4px #2BAE5E solid;
    border-radius: 10px;
}
.texto2{
    font-weight: bold !important;
    color:#2e4052;
}

.btnCancelar{
    background: rgb(122,29,0);
}
#email{
    border: 4px #2BAE5E solid;
    border-radius: 10px;
}
#confirmarSenha{
    border: 4px #2BAE5E solid;
    border-radius: 10px;
}
#cad_btn_cadastrar{
    background: rgb(43,174,94);
}
#cad_btn_cadastrar:hover{
    background-color: #85da56
}
